*,
:after,
:before {
  box-sizing: border-box;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141414; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9; 
  }

@font-face {
	font-family: Averia;
	src: url(LiberlNewsSansEdited.ttf);
}

@font-face {
	font-family: Oswald;
	src: url(Oswald-Regular.ttf);
}
  
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Averia";
    font-size: 1.5vw;
    user-select: none;
}

.loading {
    width: 100%;
    height: 100%;
}

.mainWindow {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    opacity: 0;
}

.mainWindow::before {
    background: linear-gradient(45deg, black, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -10;
    opacity: 0.9;
}

.mainWindow::after {
    background: url("../images/background.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -9;
    opacity: 0.9;
    mix-blend-mode: luminosity;
}

.leftMenu {
    width: 12%;
    height: 100%;
    padding: 20px 10px;
    border: 1px solid black;
    background: #CFE2F3cc;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 0 10px 10px #00000070;
    z-index: 2;
}

.leftMenu button {
    background: #3DB9F5;
    padding: 10px;
    margin: 10px 0;
    font-family: 'Averia';
    font-size: 85%;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 5px 3px #5cd2ed;
    cursor: pointer;
    transition: all 0.5s;
}

.leftMenu button:hover {
    background: rgb(235, 181, 81);
    box-shadow: 0px 0px 5px 3px orange;
}

.leftMenu button.active {
    background: #e9c973;
    box-shadow: 0px 0px 5px 3px orange;
}

.leftMenu i {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img.logo {
    width: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 4px #00000080;
    margin-bottom: 30px;
}

.mainMenu {
    width: -webkit-fill-available;
    position: relative;
}

.mainMenu .displayList, .displayGame {
    width: 100%;
    height: 88%;
    overflow: hidden;
}

.game h1, .displayGame h1 {
    background: linear-gradient(to top, #00000080, transparent);
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 0 #000000, 0px 0px 4px black;
    color: white;
    margin: 10px;
}

.displayGame h1 {
    text-align: center;
    position: relative;
}

.displayGame i.fa-house, .displayGame i.fa-user-group, .gameCredits i.fa-download {
    position: absolute;
    padding: 10px;
    border-radius: 50px;
    background: white;
    color: black;
    box-shadow: 0 0 5px 5px #00000050;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s;
}

.displayGame i.fa-house:hover, .displayGame i.fa-user-group:hover, .gameCredits i.fa-download:hover {
    background: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}

.displayGame i.fa-house {
    top: 1%;
    left: 2%;
}

.displayGame i.fa-user-group, .gameCredits i.fa-download {
    top: 10%;
    right: 1%;
    z-index: 5;
    position: fixed;
}

.game h1 img {
    width: 2vw;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000050;
    opacity: 1;
    margin: auto;
    margin-left: 10px;
    cursor: auto;
}

.game img {
    border: 1px solid black;
    border-radius: 5px;
    width: 15%;
    margin-right: 0;
    margin-left: 20px;
    opacity: 0.75;
    transition: opacity 0.3s;
    cursor: pointer;
}

.game img:hover {
    opacity: 1;
}

.mainMenu .displayList.Retro, .displayGame {
    opacity: 0;
    display: none;
}

.gamePictures {
    position: relative;
    width: 45%;
    margin: 50px 20px;
    display: inline-block;
}

.gamePictures img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0px #00000090;
    position: relative;
    z-index: 1;
}

.gamePictures img::before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: url(../images/projets/dummy.png);
    content: "";
    background-size: contain;
}

.displayPicture {
    position: relative;
    width: 100%;
    margin-bottom: 10%;
}

.displayPicture i {
    position: absolute;
    top: 45%;
    font-size: 1vw;
    background: white;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px 0px #000000ee;
    z-index: 2;
}

.gamePictures i.fa-arrow-left {
    left: -2%;
}

.gamePictures i.fa-arrow-right {
    right: -2%;
}

.gameInfos, .gameCredits {
    width: 50%;
    height: 86%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background: #00000080;
    color: white;
    text-shadow: 1px 1px 0 #000000;
}

.gameCredits {
    display: none;
    overflow-y: scroll;
}

#gameDesc {
    height: 33%;
    overflow: hidden;
}

.gamePatch {
    background: #00000080;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
    height: 58%;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
}

#uninstallAll {
    color: white;
	padding: 5px 10px;
	margin: 10px auto;
	display: block;
    transition: color 0.3s ease;
	font-size: 24px;
}

#uninstallAll:hover {
    color: red;
}

button#installPatch {
    font-family: "Oswald";
    padding: 5px 10px;
    margin: 10px auto;
    width: 50%;
    display: block;
    font-size: 1.5vw;
    border: none;
    background: white;
    cursor: pointer;
    transition: all 0.1s;
}

button#installPatch:hover {
    background: #67b2d5;
    color: white;
}

button#installPatch.disabled {
    background: gray;
    cursor: not-allowed;
    color: black;
}

.filePath {
    margin: 0px;
    padding: 4px;
    border: 1px solid #000000;
    background: #ffffff;
    text-align: center;
    font-size: 1.3vw;
}

.filePath.noPath {
    color: red;
    background: #f3c9c9;
    cursor: pointer;
}

.filePath.okPath {
    color: green;
    background: #c9f3ed;
    cursor: not-allowed;
}

.inputFolder {
    position: relative;
}

.inputFolder input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    font-size: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: #00ff0000;
}

.inputFolder input:disabled {
    cursor: not-allowed;
}

#projectBar {
    width: 90%;
    margin: 20px auto;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 2px 2px 0 #00000080;
    height: 30px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to right, #3DB9F5 50% , #3DB9F500 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectBar::before {
    z-index: -1;
    background: #ffffff88;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
}

.icon-container {
    position: relative;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
    align-self: flex-end;
    margin-top: auto;
    padding: 0 2px;
}

i.fa-info {
    border: 1px solid black;
    padding: 5px;
    width: 4vw;
    height: 4vw;
    border-radius: 5px;
    color: white;
    background: #000000cc;
    transition: all 0.3s;
}

i.fa-info:hover {
    color: white;
    background: #000000cc;
}

.infos {
    display: none;
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 15vw;
    background: #000000cc;
    color: white;
    border: 1px solid black;
    box-shadow: 1px 1px 2px #00000050;
    border-radius: 5px;
    font-size: 1.35vw;
}

.icon-container:hover .infos {
    display: block;
}

.setupVersion, .contact, .aide {
    border-bottom: 1px solid black;
    padding: 5px;
    transition: all 0.3s;
    color: white;
    background: #00000000;
    cursor: auto;
}

.contact:hover, .aide:hover {
    cursor: pointer;
    background: #ffffffcc;
    color: black;
}

.aide {
    border-bottom: none;
}

#desc span {
    margin-left: 15px;
}

.footer {
    background: #F9F7ECdd;
    width: 100%;
    position: absolute;
    bottom: 3%;
    padding: 10px;
    text-align: center;
    right: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: auto;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#loadingBarContainer {
  margin-top: 20px;
}

#loadingBar {
  height: 20px;
  background-color: #4caf50; /* Green color for the loading bar */
  width: 0; /* Initial width is 0, it will be updated dynamically */
  transition: width 0.5s; /* Smooth transition for width changes */
}

#loadingBar {
    width: 90%;
    margin: 20px auto;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 2px 2px 0 #00000080;
    height: 30px;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to right, #3DB9F5 50% , #3DB9F500 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingBar::before {
    z-index: -1;
    background: #ffffff88;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
}