TEMP/
*node_modules/*
node_modules
node_modules/
**/node_modules
**node_modules
/node_modules
/node_modules/
/coverage
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.exe
images/wpx.gif
images/tita.pdn
images/tita.jpg
images/PDF_file_icon.png
images/oldbackground.png
images/help_buttonx.svg
images/help_button.svg
images/background.svg
patch.zip
debug
